pytube
streamlit
openai
requests
beautifulsoup4
opencv-python-headless
pydub
google-auth
google-auth-oauthlib
google-auth-httplib2
google-api-python-client
python-docx
PyPDF2
python-pptx
youtube-transcript-api
pytubefix
Pillow
pypandoc
ipadic
MeCab-python3
wordcloud
matplotlib
numpy
python-dotenv
deepgram-sdk
yt-dlp
yfinance
openpyxl
moviepy
gdown
xlrd>=2.0.1
